* {
    /* box-sizing: border-box; */
    box-sizing: content-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html {
    background-image: url("images/Pngtree-vector-japanese-watercolor-pastel-background_497972.jpg");
    background-size: cover;
    height: 100%;
    background-position: center;
    min-width: 1020px;
}

body {
    min-height: 100%; 
    margin: 0 auto;
}
.cssgrid {
    display: grid;
    grid-template-columns: auto 3px 850px;
    grid-template-rows: 80px auto 850px auto auto; /* now FIVE rows */
    grid-gap: .1em;
    grid-template-areas: "header header header"
                         "description description description"
                         "sidebar-1 vertline article"
                         "status status status"
                         "footer footer footer";
  }

/* set up grid-area for each */
header { grid-area: header; } 
.description { grid-area: description; }
.buttons { grid-area: sidebar-1; }
hr { grid-area: vertline; }
.grid-background { grid-area: article; }
.status { grid-area: status; }
footer { grid-area: footer; }

header h1 {
    text-align: center;
    color: rgb(201, 33, 201); /* a bright pinkish purple */
    margin-bottom: 10px;
}
button {
    cursor: pointer;
    /* height: 40px;
    word-wrap:break-word;
    max-width: 150px; */
}

.description, .buttons {
    margin: 0 100px;
}
.buttons {
    text-align: center;
}
.disclaimer {
    text-align: center;
    color:  rgb(121, 118, 118); /* darker than dark grey*/
    font-size: .8rem;
}

hr {
    width: 1px;
    size: 850px;
}
.grid-background {
    background-color: white;
    z-index: 1;
    width: 800px; /* if change width and height, make sure to change gridSize in script.js as well */ 
    height: 800px;
    margin: 30px auto;
}
.etch-a-sketch-grid {
    z-index: 3;
    /* margin: 30px auto; */
    display: grid;
    grid-auto-rows: 62.5px; /* starting value */
    width: 800px; /* if change width and height, make sure to change gridSize in script.js as well */ 
    height: 800px;
}
.cell {
    box-sizing: border-box;
    border: solid rgb(245, 245, 245) 1px;
    height: 62.5px; /* starting value */
    width: 62.5px; /* starting value */
}
.status {
    text-align: center;
    color: rgb(121, 118, 118); /* darker than dark grey*/
}
.status span {
    color: rgb(201, 33, 201); /* a bright pinkish purple */
}
footer {
    height: 80px;
    width: 100%;
    font-size: .8rem;
    text-align: center;
    margin-top: 10px;
}
footer p{
    margin: 0;
}
/* .footer {
    grid-row-start: 3;
    grid-row-end: 4;
  } */