* {
    box-sizing: border-box;
}


.etch-a-sketch-grid {
    display: grid;
    grid-template-columns: repeat(16,1fr);
    /* grid-template-rows: repeat(4,1fr); */
    grid-auto-rows: 30px;
    width: 482px; /* 30 x 16 + 2 to make it big enough*/
    border: solid 1px grey;
}
.column {
    border: solid rgb(230, 229, 229) 1px;
    /* height: 30px; */
    /* width: 30px; */
    /* background-color: rgb(243, 243, 243); */
}
